.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;

  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(to bottom, rgba(0,0,0,0.7), transparent);
  backdrop-filter: blur(6px);

  box-sizing: border-box;
}

.brand {
  white-space: nowrap;
}

.nav-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s;

  white-space: nowrap; /* não corta palavra */
}

.nav-links a:hover {
  color: var(--accent);
}